div{
    text-align: center;
    margin: 10px;
    display: inline-block;
}
section>div{
    display: flexbox;
    flex-flow: column;
}
table{
    border: 5px groove cyan;
    flex-wrap: wrap;
}
tr{
    border: 1px solid;
}
td{
    padding: 2.5px 5px;
    margin: 10px;
}
